# 위키독스

## 081 ~ 100 딕셔너리

In [11]:
a, b, c = (0, 1, 2, 3, 4, 5)
a

ValueError: too many values to unpack (expected 3)

In [12]:
*a, b, c = (0, 1, 2, 3, 4, 5)
a

[0, 1, 2, 3]

In [13]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _,=scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [14]:
_, _, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [15]:
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [19]:
temp = { }
print(temp)

{}

In [20]:
아이스크림 = {'메로나':1000,'폴라포':1200,'빵빠레':1800}
print(아이스크림)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [21]:
아이스크림['죠스바'] = 1200
아이스크림['월드콘'] = 1500
print(아이스크림)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [22]:
아이스크림['메로나']

1000

In [23]:
메로나 가격: print(아이스크림['메로나'])

SyntaxError: invalid syntax (4006318656.py, line 1)

In [33]:
print('메로나 가격:', 아이스크림['메로나'])

메로나 가격: 1000

In [34]:
del 아이스크림['메로나']
아이스크림['메로나'] = 1300
print(아이스크림)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500, '메로나': 1300}

In [35]:
아이스크림['메로나']=1000
print(아이스크림)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500, '메로나': 1000}

In [36]:
아이스크림['메로나']=1300
print(아이스크림)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500, '메로나': 1300}

In [37]:
del 아이스크림['메로나']
print(아이스크림)

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [39]:
아이스크림['누가바']

KeyError: '누가바'

* '누가바'라는 Key가 없음

In [40]:
inventory = {'메로나':[300,20],'비비빅':[400,3],'죠스바':[250,100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [48]:
print(inventory['메로나'][0],' 원')

300  원

In [49]:
print(inventory['메로나'][1],' 개')

20  개

In [50]:
inventory['월드콘']=[500,7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [51]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

In [54]:
ice=list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [55]:
ice_v=list(icecream.values())
print(ice_v)

[1200, 1200, 1800, 1500, 1000]

In [56]:
print(sum(ice_v))

6700

In [62]:
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [67]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [68]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

# 01_자료형_변수_연습문제_실습용

## Q1.홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해보자.

|과목|점수|
|----|:---:|
|국어|80|
|영어|75|
|수학|55|

In [5]:
홍길동 = {'국어' : 80, '영어' : 75, '수학' : 55}
print(sum(홍길동.values())/len(홍길동.values()))

70.0

## Q2. 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해보자.

In [13]:
if 13 // 2 > 0 :
    print("짝수 입니다.")

짝수 입니다.

## Q3. 홍길동 씨의 주민등록번호는 881120-1068234이다.   
홍길동씨의 주민등록번호를 연월일(YYYYMMDD)부분과 그 뒤의 숫자 부분으로 나누어 출력해보자.
```
pin = '881120-1068234'
yyyymmdd = # 입력
num =  # 입력
print() # 연월일 부분 출력
print() # 숫자부분 출력
```

In [26]:
pin = '881120-1068234'
ymd = pin[:6]
y = ymd[:2]
m = ymd[2:4]
d = ymd[4:]
num = pin[7:]
print(19,y,"년",m,"월",d,"일",sep="")
print(num)

1988년11월20일
1068234

## Q4. 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다.   
주민등록번호에서 성별을 나타내는 숫자를 출력해보자.
```
pin = "881120-1068234"
print( )
```

In [27]:
print(pin[7])

1

## Q5. 다음과 같은 문자열 a:b:c:d가 있다.   
문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해보자.
```
a = "a:b:c:d"
b =
print(b)
```

In [8]:
a = "a:b:c:d"
b = a.replace(":","#")
print(b)

a#b#c#d

## Q6. [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.
```
a = [1, 3, 5, 4, 2]
a.
a.
print()
```

In [30]:
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

## Q7. ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해보자.
```
a = ['Life', 'is', 'too', 'short']
result =
print(result)
```

In [41]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

## Q8. (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.
```
a = (1, 2, 3)
a =
print(a)
```

In [43]:
a = (1, 2, 3)
b = (4, )
c = a + b
print(c)

(1, 2, 3, 4)

In [45]:
a = (1, 2, 3)
a = (1, 2, 3, 4)
print(a)

(1, 2, 3, 4)

## Q9. 다음과 같은 딕셔너리 a가 있다.
```
>>> a = dict()
>>> a
{}
```
다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.   
1. a['name'] = 'python'
2. a[('a',)] = 'python'
3. a[[1]] = 'python'
4. a[250] = 'python'

* 리스트는 mutable하기 때문에 key가 될 수 없다.

In [47]:
a = dict()
a['name'] = 'python'
a

{'name': 'python'}

In [48]:
a[('a',)] = 'python'
a

{'name': 'python', ('a',): 'python'}

In [49]:
a[[1]] = 'python'
a

TypeError: unhashable type: 'list'

In [50]:
a[250] = 'python'
a

{'name': 'python', ('a',): 'python', 250: 'python'}

## Q10. 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
```
a = {'A':90, 'B':80, 'C':70}
result =
print(a)
print(result)
```

In [11]:
a = {'A':90, 'B':80, 'C':70}
result = a['B']
print(a)
print(result)

{'A': 90, 'B': 80, 'C': 70}
80

## Q11. a 리스트에서 중복 숫자를 제거해 보자.
```
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet =
b =
print(b)
```

In [54]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

## Q12. 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다.   
다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게될까?   
그리고 이런 결과가 나오는 이유에 대해 설명해보자.
```
>>> a = b = [1, 2, 3]
>>> a[1] = 4
>>> print(b)
```

* 똑같은 객체이기 때문!

In [55]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

In [56]:
a is b

True

In [58]:
id(a)

1724649449024

In [59]:
id(b)

1724649449024

```
"서두르지 마라, 그러나 멈추지도 마라."
- 요한 볼프강 폰 괴테
```