## 001~010 파이썬 시작하기

In [6]:
print('Hello World')

Hello World

In [7]:
print("Mary's cosmetics")

Mary's cosmetics

In [8]:
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [9]:
print('C:\Windows')

C:\Windows

In [12]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

* \n은 줄바꿈
* \t는 tab

In [13]:
print("오늘은", "일요일")

오늘은 일요일

In [14]:
print('naver','kakao','sk','samsung',sep=';')

naver;kakao;sk;samsung

In [15]:
print('naver','kakao','sk','samsung',sep='/')

naver/kakao/sk/samsung

In [19]:
print("first", end="");print("second")

firstsecond

In [21]:
print(5/3)

1.6666666666666667

## 011~020 변수

In [23]:
삼성전자=50000
총평가금액=삼성전자*10
print(총평가금액)

500000

In [25]:
시가총액=29800000000
현재가=50000
PER=15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

29800000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [30]:
s = "hello"
t = "python"
print(s+'! '+t)

hello! python

In [31]:
a="132"
print(type(a))

<class 'str'>

In [34]:
num_str = "720"
num_int = int(num_str)
print(num_int,type(num_int))
print(num_int+1, type(num_int))

720 <class 'int'>
721 <class 'int'>

In [36]:
num = 100
num_str = str(num)
print(num_str,type(num_str))

100 <class 'str'>

In [38]:
str = "15.79"
num_float = float(str)
print(num_float,type(num_float))

15.79 <class 'float'>

In [39]:
year = "2020"
data = int(year)
print(data)
print(data-1)
print(data-2)

2020
2019
2018

In [41]:
월금액 = 48584
총금액 = 월금액*836
print(총금액)

40616224

## 021~050 문자열

In [46]:
letters = 'python'
print(letters[0],letters[2])

p t

In [49]:
a = "24가 2210"
a[4:]

'2210'

In [55]:
s = "홀짝홀짝홀짝"
print(s[::2])

홀홀홀

In [59]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [68]:
p = "010-1111-2222"
print(p.replace("-"," "))

010 1111 2222

In [69]:
print(p.replace("-",""))

01011112222

In [70]:
url = "http://sharebook.kr"
a = url.split('.')
print(a[-1])

kr

In [71]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

* 오류가 난다. 문자열은 변경 불가능한 자료형

In [72]:
string = 'abcdfe2a354a32a'
print('A'+string[1:])

Abcdfe2a354a32a

In [74]:
string = 'abcdfe2a354a32a'
print(string.replace('a','A'))

Abcdfe2A354A32A

In [75]:
string = 'abcd'
string.replace('b','B')
print(string)

abcd

In [76]:
string = 'abcd'
print(string.replace('b','B'))

aBcd

In [77]:
a = "3"
b = "4"
print(a + b)

34

In [78]:
print("Hi" * 3)

HiHiHi

In [79]:
print("-" * 80)

--------------------------------------------------------------------------------

In [81]:
t1 = 'python'
t2 = 'java'
plus = t1+' '+t2+' '
print(plus*4)

python java python java python java python java

In [88]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" %(name1, age1))
print("이름: %s 나이: %d" %(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [91]:
print("이름: {} 나이: {}".format(name1,age1))
print("이름: {} 나이: {}".format(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [93]:
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [99]:
상장주식수 = "5,969,782,550"
a = 상장주식수.replace(',','')
b = int(a)
print(b, type(b))

5969782550 <class 'int'>

In [101]:
분기 = "2020/03(E) (IFRS연결)"
분기[:7]

'2020/03'

In [104]:
data = "   삼성전자    "
print(data.strip())

삼성전자

In [105]:
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [106]:
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [107]:
a="hello"
a.capitalize()

'Hello'

In [109]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [112]:
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [113]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [115]:
a = "hello world"
a.split()

['hello', 'world']

In [116]:
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [118]:
date = "2020-05-01"
date.split('-')

['2020', '05', '01']

In [119]:
data = "039490     "
data.strip()

'039490'

## 051~070 리스트

In [120]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [126]:
movie_rank
del movie_rank[-1]
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

In [127]:
movie_rank.append("베트맨")
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '베트맨']

In [128]:
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '베트맨']

In [129]:
del movie_rank[-2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '베트맨']

In [130]:
del movie_rank[2:]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [131]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs=lang1+lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [134]:
nums = [1, 2, 3, 4, 5, 6, 7]
print("min: ",min(nums))
print("max: ",max(nums))

min:  1
max:  7

In [135]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [138]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [141]:
nums = [1, 2, 3, 4, 5]
ave = sum(nums)/len(nums)
print(ave)

3.0

In [142]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[2:]

[130, 140, 150, 160, 170]

In [143]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [144]:
print(nums[1::2])

[2, 4, 6, 8, 10]

In [145]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [146]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[2])

삼성전자 Naver

In [148]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
a=' '.join(interest)
print(a)

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [149]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
a='/'.join(interest)
print(a)

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [150]:
a='\n'.join(interest)
print(a)

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [152]:
string = "삼성전자/LG전자/Naver"
string.split("/")

['삼성전자', 'LG전자', 'Naver']

In [154]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

## 071~080 튜플

In [156]:
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [158]:
movie_rank=("닥터 스트레인지", "스플릿", "럭키")
print(type(movie_rank))

<class 'tuple'>

In [160]:
t=(1,)
print(type(t))

<class 'tuple'>

In [161]:
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

* 튜플형은 요소값의 삭제, 변경 안됨

In [162]:
t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

In [163]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
a = list(interest)
print(type(a))

<class 'list'>

In [164]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
a = tuple(interest)
print(type(a))

<class 'tuple'>

In [165]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [166]:
data = tuple(range(2, 100, 2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [167]:
data = list(range(2, 100, 3))
print(data)

[2, 5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 50, 53, 56, 59, 62, 65, 68, 71, 74, 77, 80, 83, 86, 89, 92, 95, 98]

# HAPPY WEEKEND~!!!