In [2]:
#연습(1)
treeHit = 0
while treeHit < 10:
    treeHit = treeHit + 1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [3]:
treehit = 0
while treehit < 10:
    treehit += 1
    print(f'나무를 {treehit}번 찍었습니다.')
print('나무 넘어갑니다.')

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [1]:
#연습(2)
coffee = 10
while True:
    print('Python Coffee machine\n나가기:1004입력\n')
    try:
        money = int(input('요청:돈을 넣어라: '))
    except ValueError:
        print('응답:돈만 넣어라\n')
        continue
    if money == 300:
        print('응답:커피준다')
        coffee -= 1
        print(f'남은커피 {coffee}잔 남았다\n')
    elif money == 1004:
        print('종료:잘가')
        break
    elif money > 300:
        print(f'응답:잔돈 {money - 300}준다 커피도 준다')
        coffee -= 1
        print(f'남은커피 {coffee}잔 남았다\n')
    else:
        print('응답:돈 부족하다. 커피 안준다')
        print(f'남은커피 {coffee}잔 남았다\n')
    if coffee == 0:
        print('종료:남은커피 없다. 커피 안판다')
        break

Python Coffee machine
나가기:1004입력

요청:돈을 넣어라: 1004
종료:잘가

In [10]:
#연습(3)
a = 0
while a < 10 :
    a += 1
    if a % 2 == 0: continue
    print(a)

1
3
5
7
9

In [11]:
#연습(4)
test_list = [1, 2, 3, 4]
for i in test_list:
    print(i)

1
2
3
4

In [14]:
#연습(5)
score = {"김민지":45, "이도현":65, "김장현":20, "감나라":70, "이미지":60}
for a, b in score.items():
    if b >= 60:
        print(f'{a} 합격')
    else:
        print(f'{a} 불합격')

김민지 불합격
이도현 합격
김장현 불합격
감나라 합격
이미지 합격

In [15]:
#연습(6)
add = 0
for i in range(1,11):
    add += i
print(add)

55

In [16]:
#연습(7)
a = [1,2,3,4]
result = [num*3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [17]:
#연습(8)
for i in range(2,10):
    for j in range(1,10):
        print(i*j, end=" ")
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

# 131 ~ 200 (반복문)

In [19]:
#131
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수, end=" ")

사과 귤 수박

In [21]:
#132
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print("#####")

#####
#####
#####

In [4]:
#133
for 변수 in ["A", "B", "C"]:
    print(변수)

A
B
C

In [3]:
#134
for 변수 in ["A", "B", "C"]:
    print("출력:", 변수)

출력: A
출력: B
출력: C

In [2]:
#135
for 변수 in ["A", "B", "C"]:
    b = 변수.lower()
    print("변환:", b)

변환: a
변환: b
변환: c

In [5]:
#136
for 변수 in [10, 20, 30]:
    print(f'변수 = {변수}')

변수 = 10
변수 = 20
변수 = 30

In [6]:
#137
for a in [10, 20, 30]:
    print(a)

10
20
30

In [7]:
#138
for a in [10,20,30]:
    print(f'{a}\n"-------"')

10
"-------"
20
"-------"
30
"-------"

In [8]:
#139
print("++++")
for a in [10,20,30]:
    print(a)

++++
10
20
30

In [9]:
#140
for a in [1,2,3,4]:
    print("------")

------
------
------
------

In [10]:
#141
리스트 = [100,200,300]
for a in 리스트:
    a += 10
    print(a)

110
210
310

In [11]:
#142
리스트 = ["김밥", "라면", "튀김"]
for a in 리스트:
    print(f'오늘의 메뉴 : {a}')

오늘의 메뉴 : 김밥
오늘의 메뉴 : 라면
오늘의 메뉴 : 튀김

In [12]:
#143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for a in 리스트:
    print(len(a))

6
4
4

In [13]:
#144
리스트 = ['dog', 'cat', 'parrot']
for a in 리스트:
    print(a,len(a))

dog 3
cat 3
parrot 6

In [14]:
#145
리스트 = ['dog', 'cat', 'parrot']
for a in 리스트:
    print(a[0])

d
c
p

In [15]:
#146
리스트 = [1, 2, 3]
for a in 리스트:
    print(f'3 x {a}')

3 x 1
3 x 2
3 x 3

In [18]:
#147
리스트 = [1, 2, 3]
for a in 리스트:
    a *= 3
    print(f'3 x = {a}')

3 x = 3
3 x = 6
3 x = 9

In [20]:
#148
리스트 = ["가", "나", "다", "라"]
for a in 리스트[1:]:
    print(a)

나
다
라

In [24]:
#149
리스트 = ["가", "나", "다", "라"]
for a in 리스트[::2]:
    print(a)

가
다

In [25]:
#150
리스트 = ["가", "나", "다", "라"]
for a in 리스트[::-1]:
    print(a)

라
다
나
가

In [26]:
#151
리스트 = [3, -20, -3, 44]
for a in 리스트:
    if a < 0:
        print(a)

-20
-3

In [29]:
#152
리스트 = [3, 100, 23, 44]
for a in 리스트:
    if a % 3 == 0:
        print(a)

3

In [30]:
#153
리스트 = [13, 21, 12, 14, 30, 18]
for a in 리스트:
    if a < 20 and a % 3 == 0:
        print(a)

12
18

In [31]:
#154
리스트 = ["I", "study", "python", "language", "!"]
for a in 리스트:
    if len(a) >= 3:
        print(a)

study
python
language

In [33]:
#155
리스트 = ["A", "b", "c", "D"]
for a in 리스트:
    if a.isupper() == True:
        print(a)

A
D

In [34]:
#156
리스트 = ["A", "b", "c", "D"]
for a in 리스트:
    if a.isupper() == False:
        print(a)

b
c

In [36]:
#157
리스트 = ['dog', 'cat', 'parrot']
for a in 리스트:
    b = a[0]
    c = b.upper()
    print(c+a[1:])

Dog
Cat
Parrot

In [37]:
for a in 리스트:
    print(a[0].upper() + a[1:])

Dog
Cat
Parrot

In [38]:
#158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for a in 리스트:
    print(a.split(".")[0])

hello
ex01
intro

In [39]:
#159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for a in 리스트:
    if a.split(".")[1] == "h":
        print(a)

intra.h
define.h

In [41]:
#160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for a in 리스트:
    if a.split(".")[1] == "h" or a.split(".")[1] == "c":
        print(a)

intra.h
intra.c
define.h

In [47]:
#161
for a in range(100):
    print(a,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [48]:
#162
for a in range(2002,2051,4):
    print(a)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [49]:
#163
for a in range(1,31):
    if a % 3 == 0:
        print(a)

3
6
9
12
15
18
21
24
27
30

In [51]:
#164
for a in range(100):
    print(99 - a)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [52]:
#165
for a in range(10):
    print(f'0.{a}')

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [60]:
#166
for a in range(1,10):
    b = a*3
    print(f'3x{a} = {b}')

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [61]:
#167
for a in range(1,10,2):
    b= a*3
    print(f'3x{a} = {b}')

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [74]:
#168
a = 0
for i in range(1,11):
    a += i
print(a)

55

In [73]:
#169
a = 0
for i in range(1,11,2):
    a += i
print("합:",a)

합: 25

In [76]:
#170
a = 1
for i in range(1,11):
    a *= i
print(a)

3628800

In [77]:
#171
price_list = [32100, 32150, 32000, 32500]
for a in price_list:
    print(a)

32100
32150
32000
32500

In [79]:
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [82]:
#172
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(i,price_list[i])

0 32100
1 32150
2 32000
3 32500

In [84]:
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    #enumerate()는 리스트의 원소에 순서값을 부여해주는 함수
    print(i, data)

0 32100
1 32150
2 32000
3 32500

In [6]:
#173
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(3 - i,price_list[i])

3 32100
2 32150
1 32000
0 32500

In [35]:
#174
price_list = [32100, 32150, 32000, 32500]
for i in range(1,4):
    print(90+10*i,price_list[i])

100 32150
110 32000
120 32500

In [10]:
#175
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)):
    print(my_list[i],my_list[i+1])
    if i >= 2:
        break

가 나
나 다
다 라

In [11]:
#풀이 참고
for i in range(len(my_list) - 1):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [39]:
#176
my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [40]:
#177
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
    print(my_list[i-1], my_list[i-2])

라 다
가 라
나 가

In [41]:
#178
my_list = [100, 200, 400, 800]
for i in range(len(my_list)-1):
    print(my_list[i+1]-my_list[i])

100
200
400

In [43]:
#179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list)-2):
    b = (my_list[i]+my_list[i+1]+my_list[i+2])/3
    print(b)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [51]:
#180
volatility = []
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
for i  in range(len(low_prices)):
    volatility.append(high_prices[i]-low_prices[i])
    #append() 함수는 파이썬에서 리스트의 끝에 새로운 요소를 추가하는 메소드
print(volatility)

[50, 100, 30, 80, 0]

In [52]:
#181
apart = [["101호", "102호"], ["201호", "202호"], ["301호", "302호"]]

In [54]:
#182
stock = [["시가",100, 200, 300],["종가", 80, 210, 330]]

In [55]:
#183
stock = {"시가":[100,200,300],"종가":[80,210,330]}

In [56]:
#184
stock = {"10/10":[80,110,70,90], "10/11":[210,230,190,200]}

In [76]:
#185
apart = [ [101, 102], [201, 202], [301, 302] ]
for i , first in enumerate(apart):
    for c , second in enumerate(first):
        print(second,"호")

101 호
102 호
201 호
202 호
301 호
302 호

In [78]:
#풀이참고
for a in apart:
    for b in a:
        print(b,"호")

101 호
102 호
201 호
202 호
301 호
302 호

In [82]:
#186
for a in reversed(apart):
    for b in a:
        print(b,"호")

301 호
302 호
201 호
202 호
101 호
102 호

In [84]:
#187
for a in reversed(apart):
    for b in reversed(a):
        print(b,"호")

302 호
301 호
202 호
201 호
102 호
101 호

In [86]:
#188
for a in apart:
    for b in a:
        print(b,"호")
        print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [87]:
#189
for a in apart:
    for b in a:
        print(b,"호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [88]:
#190
for a in apart:
    for b in a:
        print(b,"호")
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [93]:
#191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for i in data:
    for ohlc in i:
        print(ohlc*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [98]:
#192
for i in data:
    for ohlc in i:
        print(ohlc*1.00014)
    print("----")

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [109]:
#193
result = []
for i in data:
    for ohlc in i:
        result.append(ohlc*1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [110]:
#194
result = []
for i in data:
    sub = []
    for ohlc in i:
        sub.append(ohlc*1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [120]:
#195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    print(i[3])

100
190
310

In [130]:
#196
result = [i[3] for i in ohlc[1:] if i[3] >= 150]
print(*result,sep='\n')

190
310

In [134]:
#197
result = [i[3] for i in ohlc[1:] if i[3] >= i[0]]
print(*result,sep='\n')

100
310

In [136]:
#198
volatility = [i[1]-i[2] for i in ohlc[1:]]
print(volatility)

[40, 30, 10]

In [135]:
#199
result = [i[1]-i[2] for i in ohlc[1:] if i[3] > i[0]]
print(*result)

10

In [140]:
#200
income = [i[3]-i[0] for i in ohlc[1:]]
print(sum(income))

0

# Have a good day~S2